body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77d7b9 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

header li {
    display: inline;
    padding: 0 20px;
}

header .highlight, header .current a {
    color: #77d7b9;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
}

th, td {
    padding: 8px;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

form {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0px 0px 10px 0px #000000;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input[type="text"], form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ddd;
}

form input[type="submit"] {
    display: block;
    width: 100%;
    background: #333;
    color: white;
    border: 0;
    padding: 10px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: #77d7b9;
}
